a {
  color: white;
}

.current-page {
  font-weight: bolder;
}

.separator {
  background: url('img/separator.png') no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 6px;
  margin: 0px 5px;
}
