& {
    background: $color-bg-cool-grey;
    padding-top: 90px;
    padding-bottom: 50px;
    color: $color-text-black;

    h2 {
        font-size: 24px;
        font-weight: bold;
    }

    p {
        font-size: 21px;
    }
}
