@mixin bottom-border {
  border-bottom: 1px solid $color-border;
}

@mixin bordered {
  border-top: 1px solid $color-border-dark;
  border-bottom: 1px solid $color-border-dark;
}

@mixin centered-horizontal {
  margin-left: auto;
  margin-right: auto;
}
