// Overrides
$fa-font-path: 'fonts';

// Internal variables
$theme-color-light: #67A3BF;
$theme-color-dark: #166596;
$reviews-title: #D2D2D2;
$reviews-title-hover: #D5E6ED;
$gradient-percentage: 15%;
$nav-bar-height: 25px;
$carousel-control-width: 10%;
$screen-xs: 400px;

$color-bg: #FCFCFC;
$color-border: #DDD;
$color-border-dark: #E5E5E5;
$color-panel-bg: #EEF2F3;
$color-action-submit: #CABC14;
$color-action-accept: #5CB85C;
$color-action-reject: #D9534F;
$color-action-edit-comment: #337ab7;

$color-text-black: #333333;
$color-text-dark-grey: #555555;
$color-text-light-grey: #777777;

$color-bg-light-grey: #EFEFEF;
$color-bg-cool-grey: #F3F5F7;

$color-border-light-grey: #D9D9D9;
