// Overrides
$fa-font-path: 'fonts';

// Internal variables
$theme-color-light: #67A3BF;
$theme-color-dark: #166596;
$reviews-title: #D2D2D2;
$reviews-title-hover: #D5E6ED;
$gradient-percentage: 15%;
$nav-bar-height: 25px;
$carousel-control-width: 10%;
$screen-xs: 400px;

$color-bg: #FCFCFC;
$color-border: #DDD;
$color-border-dark: #E5E5E5;
$color-panel-bg: #EEF2F3;
