// 3rd parties
@import 'bootstrap-custom';
@import 'font-awesome';
@import 'toastr';

// All variable overrides
@import 'variables';

// Our 3rd parties
@import 'osf-style';
@import 'ember-osf';

// Various other local styles sheets
@import 'mixins';
@import 'modules';
@import 'util';
@import 'preprint-detail';

// Import all styles from pod style components
@import 'pod-styles';

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif !important;
}

/* Override styles from ember-osf and osf to match ember-preprints */
.footer {
  margin-top: 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid $color-border-gray-dark;
  border-bottom: 1px solid $color-border-gray-dark;
  width: 100%;
  color: $color-text-gray;
}

.footer ul, .footer li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
