@import 'bootstrap';
@import 'ember-power-select';
@import 'base';
@import 'variables';
@import 'hint';

/* Override styles from ember-osf and osf */
.footer {
  margin-top: 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  color: #555;
}

.footer ul, .footer li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reviews-brand {
  background: url('img/reviews-logo-beta.png') top center no-repeat;
  height: 100px;
  background-size: 50%;
}

.dark-header {
  background:white url('img/dark-overlay.png') top center ;
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  height: 205px;
  color: white;
  h1 {
    font-size: 41px;
    font-weight: 300;
  }
  a:not(.btn) {
    color: white;
  }
  .btn-info {
    color: #fff
  }
}

/* This should be a temporary adjustment */
@media (max-width: 768px) {
  .reviews-navbar {
    top: 50px;
  }
}

/* Main header*/
.reviews-header{
  background:#214661 url('img/reviews-bg.jpg') top center ;
  padding-top: 150px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dddddd;
  color: white;
  h1 {
    font-size: 41px;
    font-weight: 300;
  }
  a:not(.btn) {
    color: #80c2f7;
    text-decoration: underline;
  }
  .btn-info {
    color: #fff
  }
}

.reviews-middle{
  background: white;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  color: black;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.reviews-middle-features {
  background: url('img/reviews-screens.png') top center no-repeat;
  height: 300px;
  background-size: contain;
}

.reviews-workflow{
  background: white url('img/reviews-workflow-background.jpg') top center;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  color: white;
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  li {
    padding: 5px;
    font-size: 12px;
  }
  h4 {
    text-shadow: 2px 2px 4px grey;
  }
}

.reviews-contact{
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  color: black;
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.reviews-workflow-figure1 {
  background-image: url('img/post-moderation-workflow.png');
  background-position: left top;
  background-repeat: no-repeat;
  height: 300px;
  background-size: contain;
}

.reviews-workflow-figure2 {
  background-image: url('img/pre-moderation-workflow.png');
  background-position: right top;
  background-repeat: no-repeat;
  height: 300px;
  background-size: contain;
}


.btn-filter {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.panel-body {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
  padding-bottom: 10px;
  height: 50px;
  background-color: #dddddd;
  box-shadow: 0 0 1px 1px #a9a9a9;
  .btn {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 8px;
    background: transparent;
    border: none;
    outline: none;
  }
  .btn:hover {
    text-decoration: none;
    outline: none;
  }
  .btn:focus {
    font-weight: bold;
  }
}

.moderation-list {
  padding-top: 20px;
  padding-left: 25px;
}

/* Not found page */
.reviews-404 {
  padding: 120px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}

/* Forbidden page */
.reviews-403 {
  padding: 120px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}

/* Gone page */
.reviews-410 {
  padding: 120px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}

#Tab h3 {
  color: #333333;
}

#tabTitle .nav > li > a {
  border-radius: 0;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#tabTitle .nav > li > a:hover {
  color: #333333;
}

@media (max-device-width: 400px) {
  #tabTitle .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

li.active > a {
  background-color: white !important;
  color: #333333 !important;
}

.unread-label {
  background-color: #c7c7c7;
  color: #333333;
  padding: 2px;
  border-radius: 5px;
  font-weight: bold;
  width: 24px;
  height: 27.3px;
}

.separator {
  content: url('img/separator.png');
  vertical-align:middle;
  padding-left: 5px;
  padding-right: 5px;
}

.provider-title {
  font-weight: bold;
  font-size: 36px;
  color: #FCFCFC;
}

.reviews-error-page {
  padding: 70px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}

.state {
  .fa-hourglass-o {
    color: #F5A623;
    padding-top: 16px;
    padding-left: 10px;
  }
  .fa-times-circle-o {
    color: #da3945;
    padding-top: 16px;
    padding-left: 10px;
  }
  .fa-check-circle-o {
    color: #63c563;
    padding-top: 16px;
    padding-left: 10px;
  }
  }

.btn-toolbar .fa {
  color: #333333;
  size: 20px;
}

.dropdown-menu-right {
    span {
    display: inline-block;
    width: 70px;
    button {
      border: 0;
      background: transparent;
      width: 100%;
      padding: 0;
    }
  }
}

.record-title {
  font-size: 20px;
  font-weight: bold;
}

.record-body {
  font-size: 16px;
}

.media-body {
  a {
    color: #333333;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .heading {
   .btn {
      font-size: 12px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}

.activated {
  font-weight: bold;
}
