@import 'bootstrap';
@import 'ember-power-select';
@import 'base';
@import 'variables';
@import 'hint';

/* Override styles from ember-osf and osf */
.footer {
  margin-top: 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  color: #555;
}

.footer ul, .footer li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reviews-brand {
  background: url('img/reviews-logo-beta.png') top center no-repeat;
  height: 100px;
  background-size: contain;
  padding: 1px;
}

.dark-header {
  background:white url('img/dark-overlay.png') top center ;
  padding-top: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  height: 194px;
  color: white;
  h1 {
    font-size: 41px;
    font-weight: 300;
  }
  a:not(.btn) {
    color: white;
  }
  .btn-info {
    color: #fff
  }
}

/* This should be a temporary adjustment */
@media (max-width: 768px) {
  .reviews-navbar {
    top: 50px;
  }
}

/* Main header*/
.reviews-header{
  background:#214661 url('img/reviews-bg.jpg') top center ;
  padding-top: 150px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dddddd;
  color: white;
  h1 {
    font-size: 41px;
    font-weight: 300;
  }
  a:not(.btn) {
    color: #80c2f7;
    text-decoration: underline;
  }
  .btn-info {
    color: #fff
  }
}

.reviews-middle{
  background: white;
  padding-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  text-align: left;
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
  }
  li {
    font-weight: bold;
  }
  .features {
    padding-top: 2%;
    max-width: 500px;
  }
}

.reviews-middle-features {
  content: url('img/reviews-screens.png');
  display: block;
  position: relative;
  width: 90%;
}

.reviews-workflow{
  background: white url('img/reviews-workflow-background.jpg') top center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  color: white;
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  h4 {
    text-shadow: 2px 2px 4px grey;
    font-size: 18px;
    text-align: left;
  }
  li {
    padding-bottom: 20px;
  }
}

.reviews-contact{
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h4 {
    font-size: 21px;
  }
}

.reviews-workflow-figure1 {
  content: url('img/post-moderation-workflow.png');
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

.reviews-workflow-figure2 {
  content: url('img/pre-moderation-workflow.png');
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

/* Not found page */
.reviews-404 {
  padding: 120px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}

/* Forbidden page */
.reviews-403 {
  padding: 120px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}

/* Gone page */
.reviews-410 {
  padding: 120px 0 120px 0;
  background-color: #ecf2f3;
  border-bottom: 1px solid #d6dbdc;
}


#Tab .tab-content {
  color : black;
  background-color: white;
  padding : 5px 15px;
}

#Tab h3 {
  color : black;
}

#tabTitle .nav > li > a {
  border-radius: 0;
}

#tabTitle .nav > li > a:hover {
  color: black;
}

li.active > a {
  background-color: white !important;
  color: black !important;
}

.unread-label {
  background-color: #c7c7c7;
  color: black;
  padding: 2px;
  border-radius: 5px;
  font-weight: bold;
}

.column-offset {
  height: 120px;
}
