& {
  cursor: pointer;
  padding: 18px;
  margin: 25px;
  background: $color-panel-bg;

  .radio {
    text-align: center;
  }

  .text {
    width: 100%;
  }

  input[type="radio"] {
    margin: 0px;
  }

  // Make centering a radio button possible
  .row {
    display: table;

    > * {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }
  }
}
