.moderation-btn-filter {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.moderation-list-body {
    padding: 0;
}

.moderation-list-heading {
    padding-bottom: 10px;
    height: 50px;
    background-color: $color-bg-gray-light;
    .btn {
        font-size: 20px;
        padding-top: 15px;
        padding-left: 8px;
        background: transparent;
        border: none;
        outline: none;
    }
    .btn:hover {
        text-decoration: none;
        outline: none;
    }
    .btn:focus {
        font-weight: bold;
    }
}

.reviews-list {
    padding-top: 20px;
    padding-left: 25px;
}

#Tab h3 {
    color: $color-text-gray-dark;
}

.btn-toolbar .fa {
    color: $color-text-gray-dark;
    size: 20px;
}

.dropdown-menu-right {
    background: $color-bg-gray-light;
}

.dropdown-toggle {
    text-decoration: none;
    color: $color-text-gray-dark;
}

.record-title {
    font-size: 20px;
    font-weight: bold;
}

.record-body {
    font-size: 16px;
}

.media-body {
    a {
        color: $color-text-gray-dark;
    }
    a:link {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    a:active {
        text-decoration: none;
    }
}

@media screen and (max-width: $screen-sm) {
    .moderation-list-heading {
       .btn {
            font-size: 12px;
            padding-left: 2px;
            padding-right: 2px;
        }
    }
    .record-title {
        font-size: 12px;
    }
    .record-body {
        font-size: 8px;
    }
}

.activated {
    font-weight: bold;
}
