.moderation-list-body {
  font-size: 16px;
  margin-bottom: 25px;
}

.moderation-list-heading {
  background-color: $color-bg-gray-light;
  border: 1px solid $color-border;
  padding: 10px 20px;

  .btn {
    background: transparent;
    font-size: 20px;
    outline: none;
    padding: 6px 0;
  }

  .moderation-btn-filter {
    margin: 0;
    margin-right: 20px;
  }

  .btn:hover {
    outline: none;
    text-decoration: none;
  }

  .btn:focus {
    font-weight: bold;
  }

  .btn:active {
    box-shadow: none;
  }

  .icon-accepted {
    -webkit-text-stroke: 1px $color-bg-gray-light;
  }

  .icon-rejected {
    -webkit-text-stroke: 1px $color-bg-gray-light;
  }

  .active-filter {
    font-weight: bold;

    .icon-rejected {
      -webkit-text-stroke: 0;
    }

    .icon-accepted {
      -webkit-text-stroke: 0;
    }

    .icon-pending {
      -webkit-text-stroke: 1px $color-text-gray-dark;
    }
  }
}

@media screen and (max-width: $screen-small-tablet) {
  .moderation-list-heading {
    padding-left: 20px;

    .btn {
      font-size: 16px;
    }

    .moderation-btn-filter {
      margin-right: 1px;
    }
  }

  .submission-title {
    font-size: 14px;
  }

  .submission-body {
    font-size: 12px;
  }

  .status-icon {
    font-size: 16px;
  }
}

@media screen and (max-width: $screen-medium-small) {
  .moderation-list-heading {
    .btn {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $screen-xs) {
  .moderation-list-heading {
    .btn {
      display: block;
    }

    .dropdown-toggle {
      margin-top: -2.3em;
    }
  }

  .dropdown-menu-right {
    margin-top: -.7em;
  }
}

.reviews-list {
  padding-top: 20px;
}

.dropdown-menu-right {
  background: $color-bg-gray-light;

  .btn {
    text-align: left;
    width: 100%;
  }

  .btn:hover {
    background-color: $color-border;
  }

  .selected {
    padding-left: 5px;
  }

  .not-selected {
    padding-left: 30px;
  }
}

.dropdown-toggle {
  color: $color-text-gray-dark;
  text-decoration: none;
}

// Moderation List Row

.moderation-list-row {
  border: 1px solid $color-border;
}

.moderation-list-row:hover {
  background-color: $color-bg-gray-light;
}
