section.preprint-license {
  span {
    cursor: pointer;
  }

  pre {
    border: none;
    font-size: 75%;
    max-height: 300px;
    text-align: justify;
    white-space: pre-wrap;
    width: 100%;
  }
}

.warning-header {
  font-size: 20px;
  padding: 5px 15px 8px 15px;

  a {
    color: $color-text-gray-dark;
  }
}
.setting-reminder {
  font-size: 14px;
}
