.reviews-setup {
  background: $color-bg;
  padding-bottom: 50px;

  > header {
    @include bottom-border;

    // Color picked from background image
    background: #EBEFF0 url('img/reviews-setup-bg.jpg');
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 150px;

    h1 {
      font-size: 41px;
      font-weight: 300;
    }
  }

  > .alert-warning {
    font-size: 20px;
    margin: 0px;
    padding: 25px;
  }

  form {
    @include centered-horizontal;
    min-width: 500px;
    max-width: 575px;
  }

}
