{{#each actionList key='id' as |action|}}
    {{action-feed-entry action=action toDetail=toDetail}}
{{/each}}
{{#if loadingPage}}
    <div class='loading'>
        <div class="ball-scale ball-dark">
            <div></div>
        </div>
    </div>
{{else if moreActions}}
    <div class='see-more'>
        <a role='button' {{action 'nextPage'}}>{{t 'dashboard.see_more'}}</a>
    </div>
{{/if}}
