.dark-header {
  background: white url('img/dark-overlay.png') top center;
  padding-top: 15px;
  height: 203px;
  color: white;

  a:not(.btn) {
    color: white;
  }
  .provider-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
  }
  .breadcrumbs {
    padding-bottom: 25px;
  }
}

#tabTitle .nav > li > a {
  border-radius: 0;
  font-size: 24px;
  padding: 15px 20px;
}

#tabTitle .nav > li > a:hover {
  color: $color-text-gray-dark;
}

li.active > a {
  background-color: white !important;
  color: $color-text-gray-dark !important;
}

@media (max-width: $screen-xs){
  #tabTitle .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* This should be a temporary adjustment */
@media (max-width: 768px) {
  .reviews-navbar {
    top: 50px;
  }
}
