.dark-header {
  background: white url('img/dark-overlay.png') top center;
  padding-top: 15px;
  height: 203px;
  color: white;

  a:not(.btn) {
    color: white;
  }
  .provider-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
  }
  .breadcrumbs {
    padding-bottom: 25px;
  }
}

.container {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#tabTitle .nav > li > a {
  border-radius: 0;
  font-size: 24px;
  padding: 15px 20px;
}

#tabTitle .nav > li > a:hover {
  color: $color-text-gray-dark;
}

li.active > a {
  background-color: white !important;
  color: $color-text-gray-dark !important;
}


/* This should be a temporary adjustment */
@media (max-width: 768px) {
  .reviews-navbar {
    top: 50px;
  }
}

@media screen and (max-width: $screen-small-tablet) {
  .dark-header {
    height: 190px;
    .provider-title {
      font-size: 32px;
    }
  }
  #tabTitle .nav > li > a {
    font-size: 20px;
  }
}

@media screen and (max-width: $screen-medium-small) {
  .dark-header {
    height: 170px;
    .provider-title {
      font-size: 25px;
    }
    .breadcrumbs {
      padding-bottom: 20px;
    }
  }
  #tabTitle .nav > li > a {
    font-size: 15px;
  }
}
