<div class="dark-header"> {{!HEADER}}
    <div class="container"> {{!CONTAINER}}
        <div class="row">{{!HEADER ROW}}
            <div class="text-left p-l-lg col-md-12">
                <p>
                    {{#each breadcrumbs as |breadcrumb|}}
                        {{#link-to breadcrumb.path}}
                            {{breadcrumb.name}}
                        {{/link-to}}
                        {{#unless (eq breadcrumb breadcrumbs.lastObject)}}
                            <img class="separator">
                        {{/unless}}
                    {{/each}}
                </p>
                {{!TITLE}}
                <div class="provider-title"><b>{{theme.provider.name}}</b></div>
                <div id="tabTitle">
                    <ul class="nav nav-pills ">
                        {{#each tabs as |tab|}}
                            {{#link-to tab.route tagName='li' href=false class=(if (eq activeTab tab.name) 'active')}}
                                {{#link-to tab.route theme.provider.id}}
                                    {{tab.name}}
                                    {{#if (eq tab.name 'Moderation')}}
                                        <small class="unread-label">{{unread-count}}</small>
                                    {{/if}}
                                {{/link-to}}
                            {{/link-to}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> {{!END HEADER}}
