.reviews-brand {
  background: url('img/reviews-logo-beta.png') top center no-repeat;
  height: 100px;
  background-size: contain;
  padding: 1px;
}

/* Main header*/
.reviews-header{
  // Color picked from background image
  background: #214661 url('img/reviews-bg.jpg') top center;
  padding-top: 150px;
  padding-bottom: 100px;
  border-bottom: 1px solid $color-border;
  color: white;
  h1 {
    font-size: 41px;
    font-weight: 300;
  }
}

.reviews-middle{
  @include bottom-border;

  background: white;
  padding-top: 50px;
  padding-bottom: 30px;
  color: $color-text-gray-dark;
  text-align: left;
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  h4 {
    font-size: 18px;
  }
  li {
    font-weight: bold;
  }
  .features {
    padding-top: 2%;
    max-width: 500px;
  }
}

.reviews-middle-features {
  content: url('img/reviews-screens.png');
  display: block;
  position: relative;
  width: 90%;
}

.reviews-workflow{
  @include bottom-border;

  // Color picked from background image
  background: white url('img/reviews-workflow-background.jpg') top center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
  h2 {
    font-weight: bold;
    font-size: 24px;
  }
  h4 {
    text-shadow: 2px 2px 4px grey;
    font-size: 18px;
    text-align: left;
  }
  li {
    padding-bottom: 20px;
  }
}

.reviews-workflow-figure1 {
  content: url('img/post-moderation-workflow.png');
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

.reviews-workflow-figure2 {
  content: url('img/pre-moderation-workflow.png');
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

.reviews-workflow-figure1 {
  content: url('img/post-moderation-workflow.png');
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

.reviews-workflow-figure2 {
  content: url('img/pre-moderation-workflow.png');
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}

/* Not found page */
.reviews-404 {
  padding: 120px 0 120px 0;
  background-color: $color-bg-blue-light;
  border-bottom: 1px solid $color-border-gray-cool;
}

/* Forbidden page */
.reviews-403 {
  padding: 120px 0 120px 0;
  background-color: $color-bg-blue-light;
  border-bottom: 1px solid $color-border-gray-cool;
}

/* Gone page */
.reviews-410 {
  padding: 120px 0 120px 0;
  background-color: $color-bg-blue-light;
  border-bottom: 1px solid $color-border-gray-cool;
}

.reviews-error-page {
  padding: 70px 0 120px 0;
  background-color: $color-bg-blue-light;
  border-bottom: 1px solid $color-border-gray-cool;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.column-offset {
  height: 120px;
}

/* Dashboard page */
.reviews-dashboard {
    background: $color-bg-gray-cool;
}

/* Dashboard header */
.reviews-dashboard-header{
  // Color picked from background image
  background: #214661 url('img/reviews-dashboard-bg.jpg');
  background-size: cover;  // needs to be below "background"
  padding-top: 50px;
  padding-bottom: 46px;
}

// Opaque toast notifications
.toast {
    opacity: 1 !important;
}
