<div class="content vertical-align">
    <div class="aligner-item--top"></div>
    <div class="ball-scale ball-dark text-center">
        <div></div>
    </div>
    <div class="aligner-item--bottom"></div>
</div>
