& > div{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.submission-heading--skeleton {
  padding: 15px 20px;
  width: 80%;
}

.icon--skeleton {
  padding-left: 20px;
}
