{{#content-placeholders as |placeholder|}}
    <div class="icon--skeleton">{{placeholder.icon}}</div>
    <div class="submission-heading--skeleton">
        {{placeholder.heading}}
    </div>
{{/content-placeholders}}
