<div class="p-b-lg">
    {{#content-placeholders as |placeholder|}}
        <div class="icon--skeleton">{{placeholder.icon}}</div>
        <div class="action-body--skeleton">
            <div class="action-heading--skeleton">{{placeholder.text lines=1}}</div>
            {{placeholder.heading}}
        </div>
    {{/content-placeholders}}
</div>
