<div class="sidebar-header">
    {{t 'components.dashboardSidebar.providers'}}
</div>
<div class="sidebar-body">
    <ul class="fa-ul">
        {{#each providers as |provider|}}
            {{provider-links provider=provider}}
        {{/each}}
    </ul>
</div>
