{{#each logs key='id' as |log|}}
    {{review-log-feed-entry log=log toDetail=toDetail}}
{{/each}}
{{#if loadingPage}}
    <div class='loading'>
        <i class='fa fa-spinner fa-pulse fa-3x' aria-hidden='true'></i>
    </div>
{{else if moreLogs}}
    <div class='more-logs'>
        <a role='button' {{action 'nextPage'}}>{{t 'dashboard.see_more'}}</a>
    </div>
{{/if}}
