{{#each logs key='id' as |log|}}
    {{review-log-feed-entry log=log toDetail=toDetail}}
{{/each}}
{{#if loadingPage}}
    <div class='loading'>
        <div class="ball-scale ball-dark">
            <div></div>
        </div>
    </div>
{{else if moreLogs}}
    <div class='more-logs'>
        <a role='button' {{action 'nextPage'}}>{{t 'dashboard.see_more'}}</a>
    </div>
{{/if}}
