<div class="reviews-page"> {{!INDEX}}
    {{!HEADER}}
    <div class="reviews-header"> {{!HEADER}}
        <div class="container"> {{!CONTAINER}}
            <div class="row">{{!HEADER ROW}}
                {{!TITLE}}
                <div class="text-center m-t-lg col-xs-12">
                    <div class="p-b-xl reviews-brand"></div>
                </div>
            </div> {{!END ROW}}
        </div> {{!END CONTAINER}}
    </div> {{!END HEADER}}
    <div class="reviews-middle"> {{!MIDDLE}}
        <div class="container"> {{!CONTAINER}}
            <div class="row col-md-6">
                <div class="reviews-middle-features"></div>
            </div>
            <div class="col-md-6">
                <h2>Moderate Your Collection</h2>
                <h4>
                    At last, the ability to manage what scholarly works are displayed with your branding. No more
                    working on off-topic papers confusing loyal researchers.
                </h4>
                <ul>
                    <li>See all submissions in one place.</li>
                    <li>Provide feedback to authors.</li>
                    <li>Manage collections settings.</li>
                </ul>
            </div>
        </div> {{!END CONTAINER}}
    </div> {{!END MIDDLE}}
    <div class="reviews-workflow"> {{!MIDDLE}}
        <div class="container"> {{!CONTAINER}}
            <div class="col-md-4">
                <h2>Choose your workflow</h2>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-key"></i>Have greater control over what material is publicly available by choosing pre-moderation.</li>
                    <li><i class="fa-li fa fa-globe"></i>Keep the time delay between submission and public access minimal by choosing post-moderation.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row text-center"><h4>Pre-moderation</h4></div>
                <div class="row reviews-workflow-figure2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row text-center"><h4>Post-moderation</h4></div>
                <div class="row reviews-workflow-figure1"></div>
            </div>
        </div> {{!END CONTAINER}}
    </div> {{!END MIDDLE}}
    <div class="reviews-contact"> {{!CONTACT}}
        <div class="container"> {{!CONTAINER}}
            <div class="col-md-3"></div>
            <div class="text-center col-md-6">
                <h2>Want to start a moderated service?</h2>
                <h4>Create your own branded preprints servers backed by the OSF. Check out the open source code and the requirements and road map. Input welcome!</h4>
                <a href="mailto:contact@osf.io" class="btn btn-info btn-sm">Contact us</a>
            </div>
            <div class="col-md-3"></div>
        </div> {{!END CONTAINER}}
    </div> {{!END CONTACT}}
</div> {{!END INDEX}}
