.preprint-status-pending-pre {
  background-color: $color-state-warning-bg;
  color: $color-state-warning-text;

  .status-icon {
    font-size: 14px;
  }
}

.preprint-status-pending-post {
  background-color: $color-state-info-bg;
  color: $color-state-info-text;

  .status-icon {
    font-size: 14px;
  }
}

.preprint-status-accepted {
  background-color: $color-state-success-bg;
  color: $color-state-success-text;

  .status-icon {
    font-size: 16px;
    -webkit-text-stroke: 0;
  }
}

.preprint-status-rejected {
  background-color: $color-state-danger-bg;
  color: $color-state-danger-text;

  .status-icon {
    font-size: 16px;
    -webkit-text-stroke: 0;
  }
}

.flex-container {
  align-items: center;
  display: flex;
  flex-flow: row;
  font-size: 16px;
  justify-content: space-between;
}

.status-badge {
  cursor: default;
  display: inline-block;  // required for the text-transform
  font-size: 16px;
  font-weight: normal;
}

.status-badge::first-letter {
  text-transform: uppercase;
}

.status-explanation {
  padding-right: 15px;
}

.recent-activity {
  padding-right: 10px;

  a {
    cursor: pointer;
  }
}

.reviewer-feedback {
  padding-right: 15px;

  .button-loading-indicator {
    margin-right: 8px;
  }

  .dropdown-menu {
    background-color: $color-bg-gray-lighter;
    border: 1px solid $color-border;
    color: $color-text-gray-dark;
    font-size: 62.5%;
    left: auto;
    margin-top: 0;
    right: 0;
    width: 445px;
    z-index: 98;  // prevent dropdown from scrolling over navbar

    .dropdown-toggle {
      box-shadow: none;
    }
  }

  .setting-reminder {
    font-size: 1.4em;
  }

  .feedback-header {
    border-bottom: 1px solid $color-border;
    font-size: 2em;
    padding: 5px 15px 8px;

    a {
      color: $color-text-gray-light;
      float: right;
    }
  }

  .feedback-footer {
    border-top: 1px solid $color-border;

    button {
      margin: 10px 10px 5px;
    }
  }

  .comment-length-error {
    color: $state-danger-text;
  }
}

.moderator-decision {
  background-color: $color-white;
  font-size: 1.4em;
  padding: 30px 15px 15px;

  textarea {
    resize: none;
  }

  .no-comment textarea {
    background-color: $color-bg-gray-lighter;
  }

  .decision-option {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    input {
      vertical-align: top;
      width: 14px;  // prevents flex from making radio buttons smaller
    }

    p {
      font-weight: normal;
    }
  }
}

@media (max-width: $screen-medium-small) {
  .flex-container {
    flex-wrap: wrap;

    .status-explanation {
      order: 1;
    }

    .reviewer-feedback {
      order: 2;
      padding: 0;
    }

    .recent-activity {
      margin-top: 10px;
      order: 3;
      text-align: center;
    }
  }

  .dropdown-menu {
    max-width: 300px;
  }
}
